<nav class="top-nav teal accent-3 mainContent black-text">
	
	<div class="page-title ">
		{{title}}
	</div>
</nav>
<div class="row mainContent">
	<div class="col s12">
		<div id="{{state}}"></div>
		
	</div>
</div> 