<div class="page-footer row teal accent-3 black-text">
	<div class="col s12 m5">
		©2019 DOHIMIHE
		<br/>
		Todos los derechos reservados
	</div>
	<div class="col s12 m5">
		<br/>
		Terminos y condiciones
	</div>
	<div class="col s12 m2">
		964 605 475
		<br/>
		Huancavelica, Huancavelica<br/>
		Perú
	</div>
</div>