<div class="row">
	<div class="col s12 m3 l3 hide-on-small-only">
		<div class="card">
			<div class="card-content">
				<span class="card-title center"><i class="material-icons">hotel</i>Promedio Semanal</span>
				<ul>
					<li><b>Horas: </b>40</li>
					<li><b>Siestas: </b>02</li>
					<li><b>Nocturno: </b>07</li>
					<li><b>Vitalidad:</b>Baja</li>
				</ul>
			</div>		
		</div>
	</div>
	<div class="col s12 m9 l9">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Iniciar Periodo de Sueño</span>
				<div class="row">
					<div class="col s12 m6 l6 input-field">
						<input type="text" id="fecha" class="datepicker">
						<label for="fecha">Fecha</label>
					</div>
					<div class="col s12 m6 l6 input-field">
						<input type="text" id="horaInicial" class="timepicker">
						<label for="horaInicial">Hora Inicial</label>
					</div>
					<div class="col s12 m6 l6 input-field">
						<input type="text" id="horaFinal" class="timepicker">
						<label for="horaFinal">Hora Final</label>
					</div>				
					<div class="col s12 m6 l6 input-field">
						<a href="#" class="btn-floating black"><i class="material-icons">play_arrow</i></a>
						<a href="#" class="btn-floating black"><i class="material-icons">stop</i></a>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
<div class="row hide-on-small-only">
	<div class="card col s12 m12 l12">
		<div class="card-content">			
			<div id="tablaSueno"></div>
			<div class="row right">
				<a class="btn-large waves-effect teal lighten-4 deleteButton black-text" onclick="alert('Registro Eliminado!')">Eliminar</a>
			</div>
		</div>		
	</div>
</div>
